.footer{
  background:#0f172a;
  color:white;
  padding:40px 20px;
  text-align:center;
}

.footer-container h3{
  margin-bottom:10px;
}

.tech-icons{
  margin:25px 0;
}

.tech-icons img{
  width:35px;
  margin:0 10px;
  transition:transform 0.3s;
}

.tech-icons img:hover{
  transform:scale(1.2);
}

.copyright{
  font-size:14px;
  opacity:0.8;
}