.article{
  padding:50px 40px;
  background:white;
  margin:40px;
  border-radius:10px;
  box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.article h2{
  margin-bottom:20px;
}

.article p{
  line-height:1.6;
  margin-bottom:15px;
  color:#444;
}